<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="sherlog.target" sequenceNumber="5">
<locations>
<location path="${project_loc:target.platform}/sherlog-1.0.2" type="Directory"/>
<location path="${project_loc:target.platform}/test/ebr" type="Directory"/>
<location path="${project_loc:target.platform}/test/org.eclipse.pde.junit.runtime.standalone" type="Directory"/>
<location path="${project_loc:target.platform}/ebr" type="Directory"/>
<location path="${project_loc:target.platform}/test/junit4osgi" type="Directory"/>
<location path="${project_loc:target.platform}/javakontor" type="Directory"/>
<location path="${project_loc:target.platform}/test/jemmy" type="Directory"/>
<location path="${project_loc:target.platform}/codehaus" type="Directory"/>
<location path="${project_loc:target.platform}/gemini-web-2.0.1.RELEASE" type="Directory"/>
</locations>
</target>
