<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="sherlog.target">

   <location path="${workspace_loc}/target.platform/equinox-3.5/plugins"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${workspace_loc}/target.platform/ebr"/>
         <location path="${workspace_loc}/target.platform/codehaus"/>
         <location path="${workspace_loc}/target.platform/test/ebr"/>
         <location path="${workspace_loc}/target.platform/test/spring-2.5.5"/>
         <location path="${workspace_loc}/target.platform/test/spring-dm-1.1.3"/>
         <location path="${workspace_loc}/target.platform/test/jemmy"/>
      </extraLocations>
   </content>

</target>
