<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="test">
<locations>
<location path="${workspace_loc}/target.platform/test/org.eclipse.pde.junit.runtime.standalone" type="Directory"/>
</locations>
</target>
